services:
    postgres:
        image: postgres

        environment:
            POSTGRES_DB: db
            POSTGRES_USER: admin
            POSTGRES_PASSWORD: 12345
            PGDATA: "/var/lib/postgresql/data/pgdata"

        ports:
            - "5432:5432"

        volumes:
            - postgres:/var/lib/postgresql/data

        restart: unless-stopped

    pgadmin:
        image: dpage/pgadmin4

        environment:
            PGADMIN_DEFAULT_EMAIL: admin@admin.com
            PGADMIN_DEFAULT_PASSWORD: admin

        ports:
            - "5050:80"

        volumes:
            - pgadmin:/var/lib/pgadmin

        restart: unless-stopped

        depends_on:
            - postgres

    api:
        build: ./backend

        ports:
            - "8000:8000"

        command: python -m uvicorn main:app --reload --host 0.0.0.0 --port 8000

        restart: unless-stopped

        depends_on:
            - postgres

#    frontend:
#        build: ./frontend

#        env_file:
#            - ./frontend/.env

#        ports:
#            - "80:3000"

#        command: npm start

#        restart: unless-stopped

volumes:
    pgadmin:
    postgres:
