name: Build Docker Image

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: backend
          platforms: linux/amd64,linux/arm64
          tags: backend-api
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Start Docker compose
        uses: hoverkraft-tech/compose-action@v2.0.1
        with:
          compose-file: "./docker-compose.dev.yml"
      - name: Verify Docker compose
        run: docker compose exec api curl -s "http://localhost:8000/v1/health/" | jq -e '.api_status == "health" and .db_status == "health"'
